.add-event {
    display: flex;
    justify-content: space-between;
    margin-top: 100px;
    margin-left: 300px;
    margin-right: 300px;
    box-shadow: 1px 1px 5px;
    padding: 50px;
}

.submit {
    margin-left: 1150px;
    border: 2px solid skyblue;
    cursor: pointer;
    background-color: #3F90FC;
    color: white;
    padding: 10px 20px;
    border-radius: 10px;
    margin-top: 10px;
}