.image {
    margin-top: 10px;
    width: 270px;
}

.cards {
    width: 270px;
    height: 300px;
    margin: 50px;
    margin-bottom: 100px;
    border-radius: 100px;
}

.name {
    background-color: orange;
    color: white;
    padding: 10px;
    border-radius: 10px;
}